name: Workflow-13-pages

on: push

permissions:
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
          cache: 'pip'
      - name: generation de la documentation
        run: |
          pip install -r requirements.txt
          mkdocs build
      - name: Setup Pages
        uses: actions/configure-pages@v5
      - name: Upload documentation to Pages
        uses: actions/upload-pages-artifact@v4
        with:
          path: 'site'
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
